body {
    font-family: "Roboto", sans-serif;
    justify-content: center; 
    background-color: white;
}

nav { 
    background: black;
    overflow: auto; 
}

nav ul {
    float: right;
    margin-right: 10px;
   
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
} 

.logo {
    height: 90px;
    width: 400px;
}

nav a {
    width: 100px;
    display: block;
    text-decoration: none;
    color: rgba(218, 165,32, 0.8);
    text-align: center;
}

.mynav a:hover {
    background: goldenrod;
    transition: 0.5s;
    text-transform: uppercase;
}